@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Name:</strong> Mohmed Hira <br />
    <strong>NetID:</strong> Mhira2 <br />
    <strong>Email:</strong> <a href="mailto:mhira2@uic.edu">mhira2@uic.edu</a><br />
    <strong>Personal Website:</strong> <a href="http://mohmedhira.com">mohmedhira.com</a><br />
</address>
