@page
@model GetETAInputModel
@{
  ViewData["Title"] = "Get ETA Input";
}

<div class="container">  
    <h2>Which station are you interested in?</h2>  
    <hr />  
    <br />  
	<form action="EtaInfo" method="get">
				
        <div class="row">  
            <div class="col-md-4">  
                <label asp-for="Input">Enter station number (eg. 40710):</label>  
                <input asp-for="Input" class="form-control" />  
            </div>  
        </div>   
				
        <br />  
        <input type="submit" value="Lookup" class="btn btn-primary" />  
        <a class="btn btn-default" href="/">Cancel</a>  
				
    </form>
</div>
